{% extends "vall_app/templates/vall_app/main.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>About</title>
    </head>
    <body>
        <h1 class=''>WELCOME TO AMANI ASSOCIATION</h1>
    
        <section id="about">
            <h2>About Us</h2>
            <p>We are a dedicated team at Helping Hands Company committed to making a positive impact in our community. Our mission is to provide assistance to those in need and support individuals and families who are facing hardships.</p>
            <p>At Helping Hands Company, we believe in lending a helping hand to those who are struggling with various challenges such as poverty, homelessness, hunger, and other social issues. Through our programs and initiatives, we aim to bring hope, dignity, and empowerment to individuals and communities.</p>
        </section>
    
        <section id="our-mission">
            <h2>Our Mission</h2>
            <p>Our mission is to:</p>
            <ul>
                <li>Provide essential resources and assistance to individuals and families in need.</li>
                <li>Support community-based projects and initiatives that address social issues.</li>
                <li>Promote awareness and advocacy for the less fortunate and marginalized groups.</li>
                <li>Inspire and mobilize volunteers to join us in making a difference.</li>
            </ul>
        </section>
    
        <section id="our-vision">
            <h2>Our Vision</h2>
            <p>Our vision is to create a world where everyone has access to basic necessities, equal opportunities, and a brighter future. We envision a society where compassion, kindness, and empathy drive positive change and uplift the lives of all individuals.</p>
        </section>
    
        <section id="gallery">
            <h2>Gallery</h2>
            <!-- Add links to images here -->
            <img src="image1.jpg" alt="Image 1">
            <img src="image2.jpg" alt="Image 2">
            <img src="image3.jpg" alt="Image 3">
        </section>
    
    </body>
</html>
{% endblock content%}