{% extends "vall_app/templates/vall_app/main.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>cause</title>
    </head>
    <body>
        <h1>Your DONATION goes here</h1>
        <p>donate something for the youth <br> help the youth, help the country, <br> your help means alot to us </p>
        
        <h1>Your DONATION goes here</h1>
        <p>donate something for the youth <br> help the youth, help the country, <br> your help means alot to us </p>
    
        <h1>Your DONATION goes here</h1>
        <p>donate something for the youth <br> help the youth, help the country, <br> your help means alot to us </p>
    
        <h1>Your DONATION goes here</h1>
        <p>donate something for the youth <br> help the youth, help the country, <br> your help means alot to us </p>
    
    </body>
</html>
{% endblock content%}