{% extends "vall_app/templates/vall_app/main.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>About</title>
    </head>
    <SECTion class="help">
        <h1>Waiting for your help</h1>  <br> <br>
        
            <p>support displaced families today by making an one time donation, <br> setting up a recurring donation, or joining our team.<br> Your generosity will directly impact those in need. </p> <br> <br> <br>
        
        </SECTion>
        
       
        <section id="service-one">
            <img src="C:\Users\HP\Desktop\web\Apple\Image\kivu.jpg" style="width: 400px; height:300px; float:right; ">
            <div class="classes">
                
                <h3>Mission statement</h3>
                <p>
                 our mission is to provide critical assistance and support<br> to individuals and families displaced by war in the east of DRC,<br> offering them hope, dignity, and the resources they need to rebuild their lives.
                    <br> Join us in transforming lives with your contribution.
                </p> <br> <br> <br>
                
                <button class="button-join"><a href="form.html"> Donate Now</a></button>
                
            </div>
        </section>
    
        <section id="service-one">
            <img src="C:\Users\HP\Desktop\web\Apple\Image\alice.jpg" style="width: 400px; height:300px; float:right; ">
            <div class="materials">
                <h3>Personal story </h3> <br>
                <p> Alice and her brothers fled Buhumba amid fighting, fleeing to Bugere for fear of mass attacks.<br> They opened a store and met Elie, who also fled. They settled in Kanyaruchinya,<br> where their daughter, Rehema Alliance, was born.<br>
                    she is worried about the future of his child in the current conditions,<br> as they face armed bandits and demand for money. To meet family needs, <br> Elie, his father, multiplies small businesses like moto-taxi and coiffeur.<br> He feels saddened by having his first child in such a harsh environment,<br> where water freezes when it rains and the sun shines brightly.<br>
                   </p> <br> <br>
    
                    <button class="button-join"><a href="form.html"> Donate Now</a></button>
            </div>
        </section>
    
        <section id="service-one">
            <img src="C:\Users\HP\Desktop\web\Apple\Image\photo 1.jpg" style="width: 400px; height:300px; float:right; "> 
            <div class="coaching">
            <h3>Statistics and facts </h3> <br>
            <p>Over 1 million people have been displaced from their<br> villages to GOMA TOWN by war since november 2023.<br> The need for humanitarian assistance is urgent and ongoing. <br>
                </p> <br> <br> 
                <button class="button-join"><a href="form.html"> Donate Now</a></button>
        </div>
        </section>
        
        <section id="service-one">
            <img src="C:\Users\HP\Desktop\web\Apple\Image\desc.jpg" style="width: 400px; height:300px; float:right; ">
            <div class="coaching">
            <h3>What is happening in DRC </h3> <br>
            <p>The Democratic Republic of Congo (DRC) has been grappling <br> with ongoing conflicts driven by armed rebel groups,<br>
                resource exploitation,inter-ethnic tensions,<br> and political instability. These conflicts have resulted <br> in a severe humanitarian crisis with millions <br> displaced and in need of assistance.<br>
                Efforts by the government and international<br> organizations are ongoing to address these challenges, <br>
                but the situation remains complex and dynamic. </p> <br> <br> <br> <br> 
                <button class="button-join"><a href="form.html"> Donate Now</a></button>
        </div>
        </section>
    
        <div class="footer">                
            <div class="">
                <p>CONTACT US</p>
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
            </div>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    </body>
    </html>             
        <SECTion class="help">
        <h1>Waiting for your help</h1>  <br> <br>
        
            <p>support displaced families today by making an one time donation, <br> setting up a recurring donation, or joining our team.<br> Your generosity will directly impact those in need. </p> <br> <br> <br>
        
        </SECTion>
        
       
        <section id="service-one">
            <img src="C:\Users\HP\Desktop\web\Apple\Image\kivu.jpg" style="width: 400px; height:300px; float:right; ">
            <div class="classes">
                
                <h3>Mission statement</h3>
                <p>
                 our mission is to provide critical assistance and support<br> to individuals and families displaced by war in the east of DRC,<br> offering them hope, dignity, and the resources they need to rebuild their lives.
                    <br> Join us in transforming lives with your contribution.
                </p> <br> <br> <br>
                
                <button class="button-join"><a href="form.html"> Donate Now</a></button>
                
            </div>
        </section>
    
        <section id="service-one">
            <img src="C:\Users\HP\Desktop\web\Apple\Image\alice.jpg" style="width: 400px; height:300px; float:right; ">
            <div class="materials">
                <h3>Personal story </h3> <br>
                <p> Alice and her brothers fled Buhumba amid fighting, fleeing to Bugere for fear of mass attacks.<br> They opened a store and met Elie, who also fled. They settled in Kanyaruchinya,<br> where their daughter, Rehema Alliance, was born.<br>
                    she is worried about the future of his child in the current conditions,<br> as they face armed bandits and demand for money. To meet family needs, <br> Elie, his father, multiplies small businesses like moto-taxi and coiffeur.<br> He feels saddened by having his first child in such a harsh environment,<br> where water freezes when it rains and the sun shines brightly.<br>
                   </p> <br> <br>
    
                    <button class="button-join"><a href="form.html"> Donate Now</a></button>
            </div>
        </section>
    
        <section id="service-one">
            <img src="C:\Users\HP\Desktop\web\Apple\Image\photo 1.jpg" style="width: 400px; height:300px; float:right; "> 
            <div class="coaching">
            <h3>Statistics and facts </h3> <br>
            <p>Over 1 million people have been displaced from their<br> villages to GOMA TOWN by war since november 2023.<br> The need for humanitarian assistance is urgent and ongoing. <br>
                </p> <br> <br> 
                <button class="button-join"><a href="form.html"> Donate Now</a></button>
        </div>
        </section>
        
        <section id="service-one">
            <img src="C:\Users\HP\Desktop\web\Apple\Image\desc.jpg" style="width: 400px; height:300px; float:right; ">
            <div class="coaching">
            <h3>What is happening in DRC </h3> <br>
            <p>The Democratic Republic of Congo (DRC) has been grappling <br> with ongoing conflicts driven by armed rebel groups,<br>
                resource exploitation,inter-ethnic tensions,<br> and political instability. These conflicts have resulted <br> in a severe humanitarian crisis with millions <br> displaced and in need of assistance.<br>
                Efforts by the government and international<br> organizations are ongoing to address these challenges, <br>
                but the situation remains complex and dynamic. </p> <br> <br> <br> <br> 
                <button class="button-join"><a href="form.html"> Donate Now</a></button>
        </div>
        </section>
    
        <div class="footer">                
            <div class="">
                <p>CONTACT US</p>
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
            </div>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    </body>
    </html>
</html>
{% endblock content%}